@charset "UTF-8";

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
    Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}


/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar
{
    width: 0;
    height: 0;
}

/* 定义滚动条轨道 内阴影 + 圆角 */
/*::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}*/

/* 定义滑块 内阴影 + 圆角 */
/*::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f5f5f5;
}*/

/* CSS Document */

.weather_card {
  width: 100%;
  height: 0;
  transition: .5s ease-in-out;
}

.weather_card_active {
  height: 370px;
  transition: .7s ease-in-out
}

.weather_console {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 20px;
}

.city_edit{
  display: inline-block;
  cursor: pointer;
}

.weather_more {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cities select{
  font-size: 16px;
}

.weather_list {
  list-style: none;
  text-align: center;
  font-size: 14px;
  padding: 0;
  color: #fff;
  width: 50%;
  float: left;
  box-sizing: border-box;
  opacity: 0;
  transition: .7s ease-in-out;
}

.weather_list_active {
  transition: .7s ease-in-out;
  opacity: 1;
}

#weather_more_today {
  width: 100%;
  padding-bottom: 20px;
}

#weather_more_today .weather_list-date, #weather_more_today .weather_list-weather {
  font-size: 18px;
}

#weather_more_today .weather_list-temp {
  font-size: 30px;
  margin: 0;
}

.weather_more li:nth-child(2), .weather_more li:nth-child(3) {
  border-bottom: 1px solid #24a7ed;
}

.weather_more li:nth-child(2), .weather_more li:nth-child(4) {
  border-right: 1px solid #24a7ed;
}



.header {
  margin: 0;
  transition: .7s;
  line-height: normal;
}

.now_city {
  margin: 0;
}

.weather_entry {
  margin: 0;
}

.weather_more_icon {
  margin: 0;
}

.search_switch {
  margin: 0;
  text-align: center;
  width: 40px;
  height: 36px;
  background-color: #fff;
  color: rgba(0, 0, 0, .87);
  text-overflow: clip;
  overflow: hidden;
  cursor: pointer;
}

.search_switch_active {
  width: 0;
  height: 56px;
}

#search_engine {
  width: 100px;
}

.searchbar {
  margin-bottom: 10px;
  transition: .7s;
}

.searchbar_active {
  padding: 0;
  margin-top: -56px;
  transition: .7s;
  z-index: 2000;
}

.searchbar_form {
  width: calc(100% - 40px);
  margin: 0;
}

.searchbar_form_active {
  width: 100%;
}

.searchbar_input {
  padding: 0;
  height: 36px;
  /*background-color: #e9f3fc;*/
  background-color: #fff;
  color: #000;
  border: 0;
}

.searchbar_input_active {
  padding: 0 16px;
  height: 56px;
}

.search-button {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: .5s;
  z-index: 1000;
  visibility: hidden;
}

.overlay_active {
  position: absolute;
  transition: .5s;
  opacity: .66;
  z-index: 1000;
  visibility: visible;
}

.sites-card, .todos-card {
  /* padding: 0 10px; */
}

.sites-card {
  transition: .5s;
}

.site {
  width: 70px;
  display: inline-block;
  height: 90px;
  text-align: center;
  margin: 0 2px;
}

.site img:hover{
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

.edit {
  display: block;
  float: right;
  color: #7D7D7D;
  font-size: 13px;
  cursor: pointer;
}

.new_site {
  height: 0;
  width: 100%;
  margin: 0 0px 0 -8px;
  transition: .5s;
  padding: 0 8px;
}

.site-title {
  display: block;
  width: 96%;
  height: 25px;
  color: #090909;
  line-height: 25px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new_site_active {
  height: 300px;
}

.remove {
  display: none;
  position: absolute;
  border: none;
  padding: 15px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 3px;
  background: none;
  transition: .3s;
}
.remove i{
  font-size: 23px;
}

.remove_active {
  display: block;
  z-index: 100;
}
.remove_active:hover{
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

img.remove_active{
  display: inline-block;
  opacity: .2;
}

img.remove_active:hover{
  display: inline-block;
  opacity: .6;
}

.card-header {
  height: 50px;
}

.add-site-icon {
  display: block;
  padding: 18px;
}

.iconHidden {
  display: none;
}

.new-site-info {
  padding-left: 10px;
}

.todo_input_wrap {
  width: calc(100% - 36px);
  float: left;
  margin: 0;
  padding-top: 0;
}

.todo_input_wrap input {
  padding-left: 16px;
}

.todo-sub-list {
  background-color: #ebebeb;
}

.todo-item {
  overflow: hidden;
  word-wrap: break-word;
}

.addtodo_button {
  position: absolute;
  right: 20px;
  margin-top: 10px;
}

.card-wrap {
  display: inline-block;
  min-height: 600px;
  margin-bottom: 100px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #1f1915;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.footer .social-buttons {
  padding: 0;
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.footer li {
  list-style: none;
  margin: 0 20px;
}

.footer .copyright {
  margin-top: 30px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {}

@media screen and (min-width: 768px) {
  body{
    background-color: #f8f8f9;
  }
  .weather_entry{
    cursor: pointer;
  }
  .weather_card{
    position: absolute;
    width: 40%;
    right: 0;
    top: 56px;
    z-index: 3000;
    display: none;
  }
  .weather_card_active{
    background-color: #fff !important;
    color: #404040 !important;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    display: block;
  }
  .weather_list{
    color: #404040;
  }
  .weather_more li:nth-child(2), .weather_more li:nth-child(4){
    border-right: 1px solid #f5f5f5;
  }
  .weather_more li:nth-child(2), .weather_more li:nth-child(3){
    border-bottom: 1px solid #f5f5f5;
  }
  .header.mdui-color-blue{
    color: #404040 !important;
    background-color: #fff !important;
  }
  .searchbar {
    background-color: #fff !important;
    margin-bottom: 40px;
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, .14), 2px 3px 8px 0 rgba(0, 0, 0, .1);
  }
  .searchbar_active {
    margin-top: 0;
    /*padding-left: 15%;
    padding-right: 15%;*/
  }
  .sites-card, .todos-card {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }
  .site {
    margin: 0 10px;
    cursor: pointer;
  }
  .site img {
    transition: .3s;
  }
  .new_site{
    transition: height .3s, opacity 0s;
    opacity: 0;
  }
  .new_site_active{
    opacity: 1;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
  }
  .new-site-info{
    width: 40%;
    display: inline-block;
  }
  .addtodo_button{
    position: relative;
    right: initial;
    margin-top: 30px;
  }
  .search_switch_active {
    width: 40px;
    height: 36px;
  }
  .searchbar_input {
    height: 56px;
    line-height: 56px;
  }
  .searchbar_input_active {
    padding: 0;
    height: 56px;
    line-height: 56px;
  }
  .searchbar_form {
    width: calc(100% - 80px);
  }
  .searchbar_form_active {
    width: calc(100% - 80px);
  }
  .search-button {
    display: block;
    width: 40px;
    height: 36px;
    text-align: center;
    cursor: pointer;
  }
  .sites-card, .todos-card {
    margin-bottom: 40px;
  }
  .overlay_active {
    opacity: .2;
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .weather_card{
    width: 35%;
  }
}
@media screen and (min-width: 1400px) {
  .weather_card{
    width: 30%;
  }
}
@media screen and (min-width: 1600px) {
  .weather_card{
    width: 25%;
  }
}
