.trunk {
    width: calc(100% - 200px);
    max-width: 1440px;
    padding: 0 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.branch {
    padding: 0 7px;
    margin: 0 7px;
    margin-bottom: 42px;
    outline: none;
}

.branch-name {
    font-weight: bold;
    color: var(--color-text);
    padding: 7px;
    margin-bottom: 7px;
}
.branch-leaves {
    padding: 7px 0;
}

.leaf {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding: 2px 7px;
    cursor: pointer;
    color: var(--color-text);

    .leaf-bm-icon {
        width: 17px;
        height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .leaf-bm-name {
        font-size: 14px;
        margin-left: 6px;
    }

    .leaf-app-icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .leaf-app-info {
        margin-left: 12px;
    }

    .leaf-app-name {
        font-size: 14px;
    }

    .leaf-app-url {
        font-size: 12px;
        color: #aaa;
        margin-top: 2px;
    }
}

.twig {
    padding: 0 14px;
    margin: 0 7px;
    margin-bottom: 42px;
    display: flex;

    .twig-icon {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .twig-info {
        margin-left: 13px;
    }

    .twig-name {
        font-weight: bold;
    }

    .twig-url {
        font-size: 14px;
        color: #aaa;
        margin-top: 2px;
    }
}

.bud {
    opacity: 0;
    cursor: default;
}

.show-bud {
    opacity: 1;
    cursor: pointer;
}

.pruning-branch {
    cursor: pointer;
    /* shadow4 - light */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgb(0, 0, 0, 0.14);
    background-color: var(--color-bg);
    background-color: rgb(255 254 242 / 75%);
    backdrop-filter: blur(2px);
    cursor: pointer !important;
    transition: box-shadow 0.14s ease-in-out;

    .branch-name {
        cursor: pointer;
    }

    .branch-name:hover {
        text-decoration: underline;
    }

    .leaf {
        cursor: pointer !important;
    }

    .leaf:hover {
        background-color: var(--color-beige);
        box-shadow: inset 0px 0px 0px 1px var(--color-primary);
    }

    &.hovered {
        box-shadow: 0px 0px 21px 7px var(--color-beige);
        /* elevation ms-depth-16 */
        box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11),
            inset 0px 0px 0px 1px var(--color-primary);

        /* shadow16 - light */
        // box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14),
        //     inset 0px 0px 0px 1px var(--color-primary);
    }
}

#dnd-action-dragged-el.leaf {
    backdrop-filter: blur(2px) !important;
    background-color: rgb(239 234 216 / 75%) !important;
    box-shadow: inset 0px 0px 0px 1px var(--color-primary);
}
