.trunk {
  width: calc(100% - 200px);
  max-width: 1440px;
  padding: 0 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.branch {
  padding: 0 7px;
  margin: 0 7px;
  margin-bottom: 42px;
  outline: none;
  cursor: default;
  display: flex;
  flex-direction: column;
}
.branch .branch-name-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
}
.branch .branch-name-wrapper .branch-name {
  display: flex;
  font-weight: bold;
  color: var(--color-text);
  padding: 7px 0;
}
.branch .branch-name-wrapper .branch-name-input {
  all: unset;
  display: none;
  font-weight: bold;
  cursor: text;
  padding: 7px 0;
}
.branch .branch-name-wrapper .line {
  display: flex;
  height: 2px;
  width: 0;
  position: relative;
  top: -7px;
}
.branch .branch-leaves {
  padding: 14px 0 7px;
  flex: 1;
}
.branch.pruning-branch {
  /* shadow4 - light */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  background-color: var(--color-bg);
  background-color: rgba(255, 254, 242, 0.75);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: default !important;
  transition: box-shadow 0.14s ease-in-out;
}
.branch.pruning-branch .branch-name-wrapper {
  cursor: pointer;
}
.branch.pruning-branch .branch-name-wrapper .branch-name {
  cursor: pointer;
}
.branch.pruning-branch .branch-name-wrapper.editing .branch-name {
  display: none;
}
.branch.pruning-branch .branch-name-wrapper.editing .branch-name-input {
  display: flex;
}
.branch.pruning-branch .leaf {
  cursor: pointer !important;
}
.branch.pruning-branch .leaf:hover {
  background-color: var(--color-beige);
  box-shadow: inset 0px 0px 0px 1px var(--color-primary);
}
.branch.pruning-branch.hovered {
  box-shadow: 0px 0px 21px 7px var(--color-beige);
  /* elevation ms-depth-16 */
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11), inset 0px 0px 0px 1px var(--color-primary);
  /* shadow16 - light */
}
.branch.pruning-branch.hovered .branch-name-wrapper .line {
  width: 20%;
  background-color: var(--color-primary);
  transition: width 0.3s;
}
.branch.pruning-branch.hovered .branch-name-wrapper.editing .line {
  width: 100%;
}
.branch.pruning-branch.pre-delete {
  text-decoration: line-through;
}

.leaf {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  padding: 2px 7px;
  cursor: pointer;
  color: var(--color-text);
}
.leaf .leaf-bm-icon {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaf .leaf-bm-name {
  font-size: 14px;
  margin-left: 6px;
}
.leaf .leaf-app-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaf .leaf-app-info {
  margin-left: 12px;
}
.leaf .leaf-app-name {
  font-size: 14px;
}
.leaf .leaf-app-url {
  font-size: 12px;
  color: #aaa;
  margin-top: 2px;
}

.twig {
  padding: 0 14px;
  margin: 0 7px;
  margin-bottom: 42px;
  display: flex;
}
.twig .twig-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twig .twig-info {
  margin-left: 13px;
}
.twig .twig-name {
  font-weight: bold;
}
.twig .twig-url {
  font-size: 14px;
  color: #aaa;
  margin-top: 2px;
}

.bud {
  opacity: 0;
  cursor: default;
  display: flex;
  justify-content: space-between;
}
.bud .bud-icon {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bud.show-bud {
  opacity: 1;
}

#dnd-action-dragged-el.leaf {
  -webkit-backdrop-filter: blur(2px) !important;
          backdrop-filter: blur(2px) !important;
  background-color: rgba(239, 234, 216, 0.75) !important;
  box-shadow: inset 0px 0px 0px 1px var(--color-primary);
}/*# sourceMappingURL=components.css.map */