.trunk {
  width: calc(100% - 200px);
  max-width: 1440px;
  padding: 0 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.branch {
  padding: 0 7px;
  margin: 0 7px;
  margin-bottom: 28px;
  outline: none;
  cursor: default;
  display: flex;
  flex-direction: column;
}
.branch .branch-name-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
}
.branch .branch-name-wrapper .branch-name {
  display: flex;
  font-weight: bold;
  color: var(--color-text);
  padding: 7px 0;
}
.branch .branch-name-wrapper .branch-name-input {
  all: unset;
  width: 100%;
  display: none;
  font-weight: bold;
  cursor: text;
  padding: 7px 0;
}
.branch .branch-name-wrapper .line {
  display: flex;
  height: 2px;
  width: 0;
  position: relative;
  top: -7px;
}
.branch .branch-leaves {
  padding: 14px 0 7px;
  flex: 1;
}

.pruning-branch {
  /* shadow4 - light */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  background-color: rgba(255, 254, 242, 0.75);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: default !important;
  transition: box-shadow 0.14s ease-in-out;
}
.pruning-branch .branch-name-wrapper {
  cursor: pointer;
}
.pruning-branch .branch-name-wrapper .branch-name {
  cursor: pointer;
}
.pruning-branch .branch-name-wrapper.editing .branch-name {
  display: none;
}
.pruning-branch .branch-name-wrapper.editing .branch-name-input {
  display: flex;
}
.pruning-branch .leaf {
  cursor: pointer !important;
}
.pruning-branch.hovered {
  box-shadow: 0px 0px 21px 7px var(--color-primary);
  /* elevation ms-depth-16 */
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11), inset 0px 0px 0px 1px var(--color-accent);
}
.pruning-branch.hovered .branch-name-wrapper .line {
  width: 20%;
  background-color: var(--color-accent);
  transition: width 0.3s;
}
.pruning-branch.hovered .branch-name-wrapper.editing .line {
  width: 100%;
}
.pruning-branch.elevated {
  z-index: 1;
}
.pruning-branch.pre-delete {
  text-decoration: line-through;
}

.leaf {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  cursor: pointer;
  max-height: 28px;
  position: relative;
  color: var(--color-text);
}
.leaf .leaf-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 5px 7px;
  width: 100%;
  position: absolute;
  max-height: 28px;
  z-index: 1;
}
.leaf .leaf-wrapper:hover {
  text-decoration: underline;
}
.leaf .leaf-wrapper .line {
  height: 1px;
  width: 100%;
  background: none;
}
.leaf .leaf-wrapper .leaf-bm {
  display: flex;
  align-items: center;
  height: 18px;
}
.leaf .leaf-wrapper .leaf-bm.hide {
  display: none;
}
.leaf .leaf-wrapper .leaf-bm .leaf-bm-icon {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaf .leaf-wrapper .leaf-bm .leaf-bm-name-wrapper {
  font-size: 14px;
  margin-left: 6px;
  flex: 1;
  height: 18px;
}
.leaf .leaf-wrapper .leaf-bm-form {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
}
.leaf .leaf-wrapper .leaf-bm-form.displayed {
  display: flex;
}
.leaf .leaf-wrapper .leaf-bm-form .underline {
  background-color: rgba(70, 78, 46, 0.4);
}
.leaf .leaf-wrapper .leaf-bm-form .row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
  height: 28px;
  padding: 5px 0px;
}
.leaf .leaf-wrapper .leaf-bm-form .icon {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaf .leaf-wrapper .leaf-bm-form .icon svg {
  width: 100%;
  height: 100%;
}
.leaf .leaf-wrapper .leaf-bm-form .value {
  margin: 0 6px;
  flex: 1;
  height: 18px;
}
.leaf .leaf-wrapper .leaf-bm-form .value input {
  all: unset;
  cursor: text;
  width: 100%;
}
.leaf .leaf-wrapper .leaf-bm-form .value input:focus + .underline {
  transition: background-color 0.3s;
  background-color: var(--color-accent);
}
.leaf .leaf-wrapper .leaf-bm-form .ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0 8px;
}
.leaf .leaf-wrapper .leaf-bm-form .ctrl .btn {
  padding: 0;
  width: 17px;
  height: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  background: none;
  border: none;
}
.leaf .leaf-wrapper .leaf-bm-form .ctrl .btn svg {
  width: 100%;
  height: 100%;
}
.leaf .leaf-wrapper .leaf-bm-form .ctrl .btn:hover {
  background: var(--color-primary);
  border: 1px solid var(--color-accent);
}
.leaf .leaf-placeholder {
  display: block;
  width: 100%;
  height: 28px;
}
.leaf .leaf-app-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaf .leaf-app-info {
  margin-left: 12px;
}
.leaf .leaf-app-name {
  font-size: 14px;
}
.leaf .leaf-app-url {
  font-size: 12px;
  color: #aaa;
  margin-top: 2px;
}

.shaking-leaf .leaf-wrapper:hover {
  text-decoration: none;
}
.shaking-leaf .leaf-wrapper.hovered {
  -webkit-backdrop-filter: blur(2px) !important;
          backdrop-filter: blur(2px) !important;
  background-color: rgba(239, 234, 216, 0.75) !important;
  box-shadow: inset 0px 0px 0px 1px var(--color-accent);
}
.shaking-leaf .leaf-wrapper.editing {
  padding: 0 7px;
  -webkit-backdrop-filter: blur(2px) !important;
          backdrop-filter: blur(2px) !important;
  background-color: rgba(239, 234, 216, 0.75) !important;
  box-shadow: inset 0px 0px 0px 1px var(--color-accent);
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11), inset 0px 0px 0px 1px var(--color-accent);
  max-height: 126px;
  z-index: 99;
  cursor: default;
  transition: max-height 0.3s, box-shadow 0.2s ease-in-out;
}

.twig {
  padding: 0 14px;
  margin: 0 7px;
  margin-bottom: 42px;
  display: flex;
}
.twig .twig-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twig .twig-info {
  margin-left: 13px;
}
.twig .twig-name {
  font-weight: bold;
}
.twig .twig-url {
  font-size: 14px;
  color: #aaa;
  margin-top: 2px;
}

.bud {
  opacity: 0;
  visibility: hidden;
  padding: 2px 7px;
  cursor: default;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.bud .bud-icon {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bud .bud-icon:hover {
  background: var(--color-primary);
  border: 1px solid var(--color-accent);
}
.bud.show-bud {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

#dnd-action-dragged-el.leaf .leaf-wrapper {
  -webkit-backdrop-filter: blur(2px) !important;
          backdrop-filter: blur(2px) !important;
  background-color: rgba(239, 234, 216, 0.75) !important;
  box-shadow: inset 0px 0px 0px 1px var(--color-accent);
}/*# sourceMappingURL=components.css.map */