.trunk {
    width: calc(100% - 200px);
    max-width: 1440px;
    padding: 0 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.branch {
    padding: 0 7px;
    margin: 0 7px;
    margin-bottom: 28px;
    outline: none;
    cursor: default;
    display: flex;
    flex-direction: column;

    .branch-name-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 7px;

        .branch-name {
            display: flex;
            font-weight: bold;
            color: var(--color-text);
            padding: 7px 0;
        }

        .branch-name-input {
            all: unset;
            width: 100%;
            display: none;
            font-weight: bold;
            cursor: text;
            padding: 7px 0;
        }

        .line {
            display: flex;
            height: 2px;
            width: 0;
            position: relative;
            top: -7px;
        }
    }

    .branch-leaves {
        padding: 14px 0 7px;
        flex: 1;
    }
}

.pruning-branch {
    /* shadow4 - light */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgb(0, 0, 0, 0.14);
    background-color: rgb(255 254 242 / 75%);
    cursor: default !important;
    transition: box-shadow 0.14s ease-in-out;

    .branch-name-wrapper {
        cursor: pointer;

        .branch-name {
            cursor: pointer;
        }

        &.editing {
            .branch-name {
                display: none;
            }
            .branch-name-input {
                display: flex;
            }
        }
    }

    .leaf {
        cursor: pointer !important;
    }

    &.hovered {
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 21px 7px var(--color-primary);
        /* elevation ms-depth-16 */
        box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11),
            inset 0px 0px 0px 1px var(--color-accent);

        .branch-name-wrapper {
            .line {
                width: 20%;
                background-color: var(--color-accent);
                transition: width 0.3s;
            }
            &.editing {
                .line {
                    width: 100%;
                }
            }
        }
    }

    &.elevated {
        z-index: 1;
    }

    &.pre-delete {
        text-decoration: line-through;
    }
}

.leaf {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    cursor: pointer;
    max-height: 28px;
    position: relative;
    color: var(--color-text);

    .leaf-wrapper {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        padding: 5px 7px;
        width: 100%;
        position: absolute;
        max-height: 28px;
        z-index: 1;

        &:hover {
            text-decoration: underline;
        }

        .line {
            height: 1px;
            width: 100%;
            background: none;
        }

        .leaf-bm {
            display: flex;
            align-items: center;
            height: 18px;

            &.hide {
                display: none;
            }

            .leaf-bm-icon {
                width: 17px;
                height: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .leaf-bm-name-wrapper {
                font-size: 14px;
                margin-left: 6px;
                flex: 1;
                height: 18px;
            }
        }

        .leaf-bm-form {
            display: none;
            width: 100%;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            font-size: 14px;

            &.displayed {
                display: flex;
            }

            .underline {
                background-color: rgb(70 78 46 / 40%);
            }

            .row {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 4px;
                height: 28px;
                padding: 5px 0px;
            }

            .icon {
                width: 17px;
                height: 17px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 100%;
                    height: 100%;
                    // fill: var(--color-primary);
                }
            }

            .value {
                margin: 0 6px;
                flex: 1;
                height: 18px;

                input {
                    all: unset;
                    cursor: text;
                    width: 100%;
                    // border-bottom: 1.4px solid rgb(70 78 46 / 20%);

                    &:focus + .underline {
                        transition: background-color 0.3s;
                        background-color: var(--color-accent);
                    }
                }
            }

            .ctrl {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                // margin-top: 5px;
                padding: 5px 0 8px;

                .btn {
                    padding: 0;
                    width: 17px;
                    height: 17px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--color-primary);
                    background: none;
                    border: none;

                    svg {
                        width: 100%;
                        height: 100%;
                        // fill: var(--color-primary);
                    }
                    &:hover {
                        // background: var(--color-accent);
                        background: var(--color-primary);
                        border: 1px solid var(--color-accent);

                        // svg {
                        //     fill: var(--color-primary);
                        // }
                    }
                }
            }
        }
    }

    .leaf-placeholder {
        display: block;
        width: 100%;
        height: 28px;
    }

    .leaf-app-icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .leaf-app-info {
        margin-left: 12px;
    }

    .leaf-app-name {
        font-size: 14px;
    }

    .leaf-app-url {
        font-size: 12px;
        color: #aaa;
        margin-top: 2px;
    }
}

.shaking-leaf {
    .leaf-wrapper {
        &:hover {
            text-decoration: none;
        }
        &.hovered {
            backdrop-filter: blur(2px) !important;
            // background-color: var(--color-primary);
            background-color: rgb(239 234 216 / 75%) !important;
            box-shadow: inset 0px 0px 0px 1px var(--color-accent);
        }

        &.editing {
            padding: 0 7px;
            backdrop-filter: blur(2px) !important;
            background-color: rgb(239 234 216 / 75%) !important;
            box-shadow: inset 0px 0px 0px 1px var(--color-accent);
            box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11),
                inset 0px 0px 0px 1px var(--color-accent);
            max-height: 126px;
            z-index: 99;
            cursor: default;
            transition: max-height 0.3s, box-shadow 0.2s ease-in-out;
        }
    }
}

.twig {
    padding: 0 14px;
    margin: 0 7px;
    margin-bottom: 42px;
    display: flex;

    .twig-icon {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .twig-info {
        margin-left: 13px;
    }

    .twig-name {
        font-weight: bold;
    }

    .twig-url {
        font-size: 14px;
        color: #aaa;
        margin-top: 2px;
    }
}

.bud {
    opacity: 0;
    padding: 2px 7px;
    cursor: default;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .bud-icon {
        width: 17px;
        height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background: var(--color-primary);
            border: 1px solid var(--color-accent);
        }
    }

    &.show-bud {
        opacity: 1;
        transition: opacity 0.3s;
    }
}