.App {
    /* display: flex; */
}

.header {
    padding: 20px 40px 0;
    font-size: 1rem;
}
.header .logo {
    cursor: default;
}

.link {
    color: #b318f0;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    padding: 0 80px 0 40px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.sidebar .search {
    margin: 100px 0 20px;
    padding-left: 16px;
    height: var(--height-l);
    color: var(--color-accent);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-accent);
    transition: 0.2s ease-in-out;
}
.sidebar .search:focus {
    outline: none;
    background-color: var(--color-dark);
    color: var(--color-background);
}

.sidebar .performance,
.sidebar .weather {
    font-size: 14px;
    margin-top: 60px;
}

.sidebar .performance .perf_item,
.sidebar .weather .weather_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.dashboard {
    margin: calc(100px + var(--height-l)) 0 40px;
    padding: 0 10px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 1fr;
}

.card {
    padding: 10px 10px 30px;
    height: calc(100% - 40px);
}

.card.edit_mode {
    /* box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px; */
    /* border: 1px solid var(--color-dark); */
    cursor: move;
    box-shadow: inset 0px 0px 0px 1px var(--color-dark);
}

.card_title {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-accent);
    text-transform: uppercase;
    margin-bottom: 16px;
}
.card_item {
    padding-bottom: 20px;
}

@media (min-width: 400px) {
    .dashboard {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 800px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .dashboard {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .dashboard {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1400px) {
    .dashboard {
        grid-template-columns: repeat(5, 1fr);
    }
}
