input {
    font-size: 16px;
    line-height: 2;
    padding: 0;
}

.App {
    /* display: flex; */
}

.header {
    padding: 20px 40px 0;
    font-size: 1rem;
}
.header .logo {
    cursor: default;
}

.link {
    color: #b318f0;
}

.main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding: 0 80px 0 40px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.sidebar .search {
    margin: 100px 0 20px;
    padding-left: 16px;
    height: var(--height-l);
    color: var(--color-accent);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-accent);
    transition: 0.2s ease-in-out;
}
.sidebar .search:focus {
    outline: none;
    background-color: var(--color-dark);
    color: var(--color-background);
}

.sidebar .performance,
.sidebar .weather {
    font-size: 14px;
    margin-top: 60px;
}

.sidebar .performance .perf_item,
.sidebar .weather .weather_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.dashboard {
    margin: calc(100px + var(--height-l) + 6px) 0 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card {
    padding: 0 0 30px;
}

.card_title {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-accent);
    text-transform: uppercase;
    margin-bottom: 16px;
}
.card_item {
    padding-bottom: 20px;
}

@media (min-width: 430px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 670px) {
    .dashboard {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .dashboard {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .dashboard {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1400px) {
    .dashboard {
        grid-template-columns: repeat(6, 1fr);
    }
}

.sortgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.sortable {
    padding: 10px 50px;
    border: 1px solid #000;
    background: #def6f3;
    transition: 0.15s cubic-bezier(0.4, 0, 1, 1);
}
