:root {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-dark: #2c3333;
    --color-primary: #5f7161;
    --color-accent: #464e2e;
    --color-background: #fefbf6;
    --height-s: 10px;
    --height-m: 16px;
    --height-l: 42px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    font-weight: 400;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
    /* min-width: 320px; */
    min-height: 100vh;
    background-color: #d0c9c0;
    background-color: #fefbf6;
    color: var(--color-dark);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    background-color: var(--color-background);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: var(--color-dark);
    color: var(--color-background);
}
button:focus,
button:focus-visible {
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
