:root {
    --color-dark: #2c3333;
    --color-primary: #5f7161;
    --color-accent: #464e2e;
    --color-background: #d0c9c0;
    --height-s: 10px;
    --height-m: 16px;
    --height-l: 42px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
        font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
}


body {
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    background-color: #d0c9c0;
    background-color: #FEFBF6;
    color: var(--color-dark);

}



.opacity_25 {
    opacity: 0.25;
}